body{
    background-color: rgb(48, 91, 171);
    overflow: hidden;
}
.game{
    position: relative;
    
}


.mush{
     position: absolute;
     right: 0;
     margin-right: 200px;
     margin-top: 300px;
     height: 300px;
     
    
}
.img-mush{
    width: 300px;
height: 310px;
filter:drop-shadow(0 18px 12px    
       rgba(0,0,0,0.28));
     -webkit-filter:drop-shadow(0 18px 12px 
          rgba(0,0,0,0.28));
          transform-origin: center bottom;
          will-change: transform;

}
.mush.jump .img-mush{
     animation:jump-up 6000ms          cubic-bezier(0.2,0.8,0.2,1) ;
     filter: drop-shadow(0 5px 6px      rgba(0,0,0,0.18));
     -webkit-animation:jump-up 6000ms          cubic-bezier(0.2,0.8,0.2,1) ;
}
@keyframes jump-up {
    0%{ transform:translateY(0) scale(1) ;  }
   30%{ transform:translateY(-320px) scale(1.06) ; -webkit-transform:translateY(-320px) scale(1.06) ; -moz-transform:translateY(-320px) scale(1.06) ; -ms-transform:translateY(-320px) scale(1.06) ; -o-transform:translateY(-320px) scale(1.06) ; }
   100%{transform:translateY(0) scale(1) ; }
}
.btn{
    width: 50px;
    height: 55px;
    cursor: pointer;
}
.zombia {
    position: absolute;
    margin
    left: 0;
    height: 300px;
}
.zum{
    width: 100px;
   height: 100px;
}
.btn{
    background-color: rgb(109, 129, 189);
    color: rgb(248, 14, 14);
    border: 6px solid rgb(247, 2, 2);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 17px;
    text-align: center;
    width: 70px;
    height: 50px;
    margin-top: 650px;
    margin-left: 650px;
}